.cart-products {

}

.cart-product {
	padding: 5px 0;
}

.cart-summary {

}

.product-title {

}

.product-details {
	list-style: none;
	padding: 0;
}

.product-attribute {
	font-size: 1.25em;
}

.product-price {
	font-size: 1.25em;
}

.form-group .row {
	margin-bottom: 15px;
}

.payment-form {
	padding-left: 15px;
	padding-right: 15px;
}