.cart-products {

}

.cart-product {
	padding: 5px 0;
}

.cart-summary {

}

.product-title {

}

.product-details {
	list-style: none;
	padding: 0;
}

.product-attribute {

}

.product-price {
	font-size: 1.25em;
}