#homepage-main {
    margin: 0px 100px 50px 100px;
}
/*#homepage{
    font-size: 40px;
    text-align: center;
    padding: 10px 0 10px 0;
}*/


body { margin-top:30px; }

/*#login-nav input { margin-bottom: 15px; }*/

/*
#navigation {
    margin: 0px;
}*/

#castle-title {
    text-align: center;
}
#castle-photo {
    overflow: hidden;
}

#nav-column {
    width: 100%
}