#homepage {
    margin: 0px 100px 50px 100px;
}

body { margin-top:30px; }

#login-nav input { margin-bottom: 15px; }


#navigation {
    margin: 0px;
}
#header{
    font-size: 40px;
    text-align: center;
    padding: 10px 0 10px 0;
}
#castle-title {
    text-align: center;
}
#castle-photo {
    margin: 0px;
}

#sign-in-link {
    font-size: 40px;
}
