#homepage-main {
    margin: 0px 100px 50px 100px;
}
/*#homepage{
    font-size: 40px;
    text-align: center;
    padding: 10px 0 10px 0;
}*/
#login-button {
    display: block;
    width: 50%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;    
}

#sign-in-comment {
    text-align: center;
    margin: 10px;
}

ul {
    padding: 0;
    list-style: none;
}

#castle-title {
    padding: 10px;
    margin: 0;
}


#image-div {
    max-height: 550px;
    overflow: hidden;
}

#image-thumbnail {
    max-height: 100%;
    max-width: 100%;
}

#bs-example-navbar-collapse-1 {
    padding-top: 10px;
    font-size: 15px;
}

#userinputarea {
    margin-bottom: 10px;
}

body { margin-top:30px; }

/*#login-nav input { margin-bottom: 15px; }*/

/*
#navigation {
    margin: 0px;
}*/


#castle-title {
    text-align: center;
}


#nav-column {
    width: 100%
}

#signup-form,input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#welcome-msg {
    color: #777;
    padding: 15px;
    position: relative;
    line-height: 20px;
    display: block;
}